.SiteBackground
{
  position:        fixed;
  top:             0;
  left:            0;
  right:           0;
  bottom:          0;
  z-index:         5;
  display:         flex;
  align-items:     center;
  justify-content: center;

  svg
  {
    transform: scale(0.63);
  }

}

.SiteBackground__liquidContainer
{
  position: absolute;
  top:      0;
  left:     0;
  right:    0;
  bottom:   0;

  canvas
  {
    background: none;
  }

}